<header class="pb-4 pt-8 md:flex items-end justify-between">
    <div class="mb-6 md:mb-0">
        <a class="font-semibold block" href="{{ "/" | relative_url }}">
            {{ site.title }}
        </a>
        <span class="text-slate-500">
            {{ site.subtitle }}
        </span>
    </div>

    <nav>
        <ul class="list-none flex gap-6">
            {% for nav in site.data.navigation %}
                <li 
                    class="
                        hover:text-teal-800 hover:underline hover:decoration-2 underline-offset-8 decoration-dotted decoration-teal-800
                        {% if nav.url == page.url %} underline decoration-2 text-teal-800 {% endif %}"
                    >
                    <a href="{{ nav.url }}">{{ nav.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

</header>
