<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>

    <body class="bg-emerald-50 text-slate-800 container mx-auto px-5 lg:px-10">

        {% include header.html %}

        <main>
           <div class="
                z-10 text-3xl font-light py-12 lg:py-24 relative 
                after:content-[''] after:inset-0
                after:bg-[radial-gradient(#bbf7d0_10%,transparent_10%),radial-gradient(#bbf7d0_10%,transparent_10%)] after:bg-[length:24px_24px] after:bg-[position:0_0,12px_12px]
                after:absolute after:bottom-0 after:left-1/2 after:top-0
                after:-translate-x-1/2 after:w-screen after:z-0" 
            >
                {% if page.title %}
                    <h1 class="relative z-30 font-medium">
                        <span class="bg-green-50/60 ">
                            {{ page.title }}
                        </span>
                    </h1>
                {% endif %}

                {% if page.intro %}
                    <p class="md:w-2/3 z-20 font-medium relative text-slate-500">
                       <span class="bg-green-50/60 ">
                            {{ page.intro  }}
                        </span> 
                    </p>
                {% endif %}

            </div>
            
            {{ content }}
        </main>

        {% include footer.html %}

    </body>

</html>
