---
layout: default
---

{% for section in page.sections %}
    <div class="grid lg:grid-cols-3 xl:grid-cols-4 py-10 border-b-2 border-dotted border-slate-300">
        <h2 class="lg:self-start lg:sticky lg:top-10 lg:col-span-1 mb-8 lg:mb-0 text-slate-500 lg:pr-6 font-light">
            {{ section.heading }}
        </h2>

        <div class="lg:col-span-2 font-light prose max-w-none">
            {{ section.text | markdownify }}
        </div>
    </div>
{% endfor %}

  {% include category-pills.html categories=page.categories %}
