---
layout: default
---

{% for project in site.projects %}
    <div class="grid sm:grid-cols-3 relative group px-0 transition duration-700 ease-out hover:bg-teal-100">       
        <div class="sm:col-span-1 aspect-video overflow-hidden">
            <img src="{{ project.image | relative_url }}" alt="{{ page.title }}">
        </div>

        <div class="sm:col-span-2 flex flex-col justify-between p-4 md:p-8">
            <h2 class="lg:text-2xl font-semibold leading-8 underline underline-offset-8 decoration-teal-400 decoration-dotted decoration-2 group-hover:decoration-0">
                {{ project.title }}
            </h2>
                  
            {% include category-pills.html categories=project.categories %}
       </div> 
        <a class="absolute inset-0 z-10" href="{{ project.url | relative_url }}"></a>
    </div>
{% endfor %}
